.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ComingSoon-bg {
  background-color:rgba(255, 0, 0, 0.8);
  border: 5px solid red;
  border-radius: 10px;
  margin: 30px;
  padding: 20px;
  backdrop-filter: blur(6px);
  width: 80%;
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%) scaleX(0.25) scaleY(0.25);
  }
  50% {
    transform: scaleX(0.25) scaleY(0.25);
  }
  100% {
    transform: translateY(0) scaleX(1) scaleY(1);
  }
}
